body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
}

.box {
  width: 80px;
  height: 80px;
  background-color: blue;
  animation: bounce 1.5s ease-in-out infinite; 
}

/* Animation */
@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-100px);
  }
  100% {
    transform: translateY(0);
  }
}
