body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: whitesmoke;
  font-size: 40px;
}

.icon {
  position: relative;
}

.badge {
  position: absolute;
  top: -8px;
  right: -8px;
  background:orangered;
  color: white;
  width: 20px;
  height: 20px;
  font-size: 12px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: pulse 1.5s infinite;
}

/* Pulse Animation */
@keyframes pulse {
  0% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(229, 57, 53, 0.7);
  }
  70% {
    transform: scale(1.2);
    box-shadow: 0 0 0 10px rgba(229, 57, 53, 0);
  }
  100% {
    transform: scale(1);
  }
}
