body 
{
  font-family: Arial, sans-serif;
}

h1 
{
  font-size: 32px;      
}

p 
{
  font-size: 18px;      
}

@media (max-width: 600px) 
{
  h1 {
    font-size: 22px;    
  }

  p {
    font-size: 14px;    
  }
}
