* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: whitesmoke
}

.title {
  text-align: center;
  margin: 20px 0;
}

/* Gallery Grid */
.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 15px;
  padding: 20px;
}

/* Images */
.gallery img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}
