.flex-container 
{
  display: flex;
  flex-direction: row;        
  gap: 20px;
  padding: 20px;
}

.item 
{
  background-color: orange;
  color: white;
  padding: 30px;
  text-align: center;
  flex: 1;
}


@media (max-width: 600px) 
{
  .flex-container {
    flex-direction: column;
  }
}
