.flex-container 
{
  display: flex;              
  justify-content: space-between;
  gap: 15px; 
  padding: 20px;
  background-color: yellow;
}

.flex-item 
{
  flex: 1;                    
  background-color: blue;
  color: white;
  padding: 20px;
  text-align: center;
  border-radius: 8px;
}
