.parent 
{
  position: relative;      
  width: 300px;
  height: 200px;
  background-color: white;
  border: 2px solid black;
  margin: 50px auto;
}

.child 
{
  position: absolute;     
  bottom: 15px;
  right: 15px;
  padding: 8px 12px;
  background-color: orange;
  color: white;
  border-radius: 4px;
}
