body 
{
  margin: 0;
  font-family: Arial, sans-serif;
}

.navbar 
{
  position: sticky;     
  top: 0;               
  background-color: blue;
  padding: 12px 0;
  z-index: 1000;
}

.navbar ul 
{
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.navbar li 
{
  margin: 0 15px;
}

.navbar a 
{
  color: white;
  text-decoration: none;
  font-size: 16px;
}

.navbar a:hover 
{
  text-decoration: underline;
}

.content 
{
  padding: 20px;
}
