.readable-text {
  line-height: 1.8;   
}
.container {
  position: relative;      
  width: 300px;
  height: 200px;
  background-color: red;
  border: 2px solid black;
}

.child {
  position: absolute;      
  top: 20px;
  right: 20px;
  padding: 10px;
  background-color: orange;
  color: white;
}
