.contact-btn {
  position: fixed;         
  bottom: 25px;             
  right: 25px;             
  padding: 14px 22px;
  background-color: green;
  color: white;
  border: none;
  border-radius: 50px;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 4px 10px black (0, 0, 0, 0.2);
}

.contact-btn:hover {
  background-color: green;
}
