* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body 
{
  background-color: white;
  font-family: Arial, sans-serif;
}

.card-container 
{
  display: flex;
  gap: 20px;              
  padding: 30px;
  justify-content: center;
  flex-wrap: wrap;        
}

.card 
{
  background-color: white;
  padding: 20px;
  width: 250px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.card h3 
{
  margin-bottom: 10px;
}

.card p 
{
  margin-bottom: 15px;
  color: brown;
}

.card button {
  padding: 10px 15px;
  border: none;
  background-color: orangered;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
