.grid-container 
{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 25px;              
  padding: 20px;
}

.item 
{
  background-color: blue;
  color: white;
  padding: 20px;
  text-align: center;
  border-radius: 6px;
}
